html{
    scroll-behavior: smooth;
}
header{
    display: none;
    font-size: larger;
    background-color: rgba(250, 244, 227, 0.795);
    font-family: mansalva;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav a{
    color: rgb(165, 42, 42);
    text-decoration: none;
    gap: 25px;
    padding: 15px 15px;
    margin-right: 15px;
    font-size: 20px;
}
nav a:hover{
    color: rgb(74, 105, 48);
    background-color: rgba(175, 166, 135, 0.74);
    border-radius: 30px 30px 30px 0px;
    padding:15px 20px;
    transition: 0.5s;
}
nav{
    padding: 10px 0px;
}
.banner{
    margin: 0px;
    padding: 10px 20px;
}
.logo{
    font-family:mountains of christmas;
    font-size:30px;
    color: rgb(68, 63, 45);
    display:flex;
    align-items:center;
}
.logo img{
    width:70px;
    padding: 10px 10px ;
}
section.home{
    background-image: url("home\ bg.png");
    height: 100vh; 
    background-size: cover; 
    background-position: center 90%;
    background-repeat: no-repeat;
    margin: 0px;
}
.download-kti{
display: inline-block;
padding: 15px 20px;
margin-top: 25px;
background-color: rgb(94, 81, 57);
color: rgb(250, 244, 227);
border-radius: 8px;
font-family: Atkinson Hyperlegible Mono;
}
.download-kti:hover{
background-color: rgb(250, 244, 227);
color: rgb(94, 81, 57);
border-radius: 8px;
font-family: Atkinson Hyperlegible Mono;
box-shadow: 0px 0px 50px rgb(226, 216, 177);
transition: 0.5s;
}
.deschome{
    width:40%;
    font-size:20px;
    margin-left:20px; 
    & h1{
        color: rgb(165, 42, 42);
        font-family: mountains of christmas;
        margin: 0px;
        padding: 100px 0px 0px 0px;
        font-size: 100px;
        white-space: nowrap;
    }  
    & h2{
        color: rgb(230, 215, 167);
        font-family: mansalva;
        margin: 0px;
        font-size: 25px;
    }
}
section.about{
    height: 100vh;
    background-image: url(wood\ bg.png);
    background-attachment: fixed;
    padding-top: 130px;
}
.cabemerahclick img{
        position: absolute;
        margin: 400px 200px 0px 1250px;
        rotate: 7deg;
        width: 150px;
        display: flex;
}
.cabemerahclick img:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.cabeijoclick img{
        position: absolute;
        margin: 400px 200px 0px 1250px;
        rotate: 7deg;
        width: 150px;
        display: flex;
}
.cabeijoclick img:hover{
    opacity: 0;
    transform: scale(1.05);
    transition: 0.5s;
}
.contabout{
    background-color:rgba(199, 193, 172, 0.911); 
    width: 60%;
    gap: 20px;
    margin-top: 30px;
    margin-left: 250px;
    padding: 40px 40px 40px 40px;
    border-radius: 70px 70px 0px 70px;
    display: flex;
    box-shadow: 0px 0px 50px ;
}
.abt{
    color: rgb(68, 63, 45);
    font-family: Atkinson Hyperlegible Mono;
    text-align: justify;
    font-size: 16px;
}
.abt h3{
    text-align: center;
    color: rgb(165, 42, 42);
    font-family: mountains of christmas;
    margin: 20px 0px 0px 20px;
    font-size: 50px;
}
section.howto{
    min-height: 100vh;
    background-image: url(wood\ bg.png);
    background-attachment: fixed;
    height: auto;
    padding: 120px 0px 40px 40px;
}
.imgfiller1 img{
        position: absolute;
        margin: 100px 20px 50px 1150px;
        width: 250px;
        rotate: 7deg;
        display: flex;
}
.imgfiller1 img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 10px 50px
}
.imgfiller2 img{
        position: absolute;
        margin: 450px 10px 50px 1125px;
        width: 300px;
        rotate: -7deg;
        display: flex;
}
.imgfiller2 img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 10px 50px
}
.conthowto1{
    background-color:rgba(199, 193, 172, 0.911); 
    width: 70%;
    height: 100%;
    gap: 20px;
    padding: 40px 0px 40px 40px;
    border-radius: 70px 70px 0px 70px;
    overflow: auto;
    position: relative;
    box-shadow: 0px 0px 50px rgb(226, 216, 177);
}
.judul1{
    font-family: mountains of christmas;
    font-size: 35px;
    text-align: center;
    color: rgb(165, 42, 42);
}
.listhow1{
    columns: 5;
    color: rgb(68, 63, 45);
    font-family: Atkinson Hyperlegible Mono;
}
.heading1{
    font-size: 25px;
    color: rgb(74, 105, 48);
    font-family: mansalva;
}
.pros1{
    color: rgb(68, 63, 45);
    font-family: Atkinson Hyperlegible Mono;
    text-align: justify;
    font-size: 16px;
    margin: 10px 35px 10px 10px;
}
.imgfiller3 img{
        position: absolute;
        margin: 100px 10px 50px 20px;
        width: 200px;
        rotate: 7deg;
        display: flex;
}
.imgfiller3 img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 10px 50px
}
.imgfiller4 img{
        position: absolute;
        margin: 400px 10px 50px 30px;
        width: 250px;
        rotate: -7deg;
        display: flex;
}
.imgfiller4 img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 10px 50px
}
.conthowto2{
    background-color:rgba(199, 193, 172, 0.911); 
    width: 70%;
    height: 100%;
    gap: 20px;
    margin: 40px 50px 40px 10px;
    padding: 40px 40px 40px 40px;
    border-radius: 70px 70px 70px 0px;
    position: relative;
    float: right;
    box-shadow: 0px 0px 50px rgb(226, 216, 177);
}
.judul2{
    font-family: mountains of christmas;
    font-size: 35px;
    text-align: center;
    color: rgb(165, 42, 42);;
}
.listhow2{
    columns: 5;
    color: rgb(68, 63, 45);
    font-family: Atkinson Hyperlegible Mono;
}
.heading2{
    font-size: 25px;
    color: rgb(74, 105, 48);
    font-family: mansalva;
}
.pros2{
    color: rgb(68, 63, 45);
    font-family: Atkinson Hyperlegible Mono;
    text-align: justify;
    font-size: 16px;
}
.imgfiller5 img{
        position: absolute;
        margin: 850px 10px 50px 1150px;
        width: 300px;
        rotate: -7deg;
        display: flex;
}
.imgfiller5 img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 10px 50px
}
.imgfiller6 img{
        position: absolute;
        margin: 1150px 10px 50px 1150px;
        width: 250px;
        rotate: 7deg;
        display: flex;
}
.imgfiller6 img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 10px 50px
}
.conthowto3{
    background-color:rgba(199, 193, 172, 0.911); 
    width: 70%;
    height: 100%;
    gap: 20px;
    padding: 40px 40px 40px 40px;
    border-radius: 70px 70px 0px 70px;
    overflow: auto;
    position: relative;
    box-shadow: 0px 0px 50px rgb(226, 216, 177);
}
.judul3{
    font-family: mountains of christmas;
    font-size: 35px;
    text-align: center;
    color: rgb(165, 42, 42);
}
.listhow3{
    columns: 5;
    color: rgb(68, 63, 45);
    font-family: Atkinson Hyperlegible Mono;
}
.heading3{
    font-size: 25px;
    color: rgb(74, 105, 48);
    font-family: mansalva;
}
.pros3{
    color: rgb(68, 63, 45);
    font-family: Atkinson Hyperlegible Mono;
    text-align: justify;
    font-size: 16px;
}
.profile{
    height: 100vh;
    background-image: url(wood\ bg.png);
    background-attachment: fixed;
    height: 800px;
    padding-top: 50px;
}
.contprofile{
    background-image: url("id card.png");
    background-size: 50% 100%;
    margin: 150px auto;
    text-align: center;
    box-shadow: 0px 0px 50px rgb(226, 216, 177);
    display: flex;
    width: 35%;
    height: auto;
}
.contprofile p{
    width: 250px;
}
.imghover img{
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 25px 20px 0px 300px;
    border: 4px dashed rgb(68, 63, 45);
}
.logohover img{
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 25px 20px 0px 300px;
    border: 4px dashed rgb(68, 63, 45);
}
.logohover:hover{
        transition: 0.5s ease;
        opacity: 0;
    }
.name{
    color: rgb(165, 42, 42);
    font-family: "mountains of christmas";
    font-size: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
    line-height: 1.5px;
}
.medsos{
    position: relative;
    scale: 1.25;
    left: 150px;
    width: 100%;
    text-align: center;
    height:40px;
    margin:50px 20px 30px 20px;
    display: flex;
}
.medsos a{
    color: rgb(165, 42, 42);
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}
.medsos a:hover{
    color: rgb(74, 105, 48);
    text-decoration: none;
    padding: 10px 15px;
    transform: scale(1.05);
    transition: 0.5s;
}
body{
    margin: 0px;
}